
@font-face {
    font-family: Zapfino;
    src: url(./fonts/zapfinoextraltone/ZapfinoExtraLT-One.otf);
    font-weight: normal;
}

@font-face {
  font-family: IBM;
  src: url(./fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}

@font-face {
  font-family: IBM-Bold;
  src: url(./fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
}

@font-face {
    font-family: Yrsa-italic;
    src: url(./fonts/Yrsa/Yrsa-BoldItalic.ttf);
}

@font-face {
    font-family: Lexenda-Light;
    src: url(./fonts/Lexend_Exa/static/LexendExa-Light.ttf);
}
@font-face {
    font-family: Lexenda-Bold;
    src: url(./fonts/Lexend_Exa/static/LexendExa-Bold.ttf);
}
@font-face {
    font-family: Lexenda-Lightt;
    src: url(./fonts/Lexend_Exa/static/LexendExa-ExtraLight.ttf);
}
@font-face {
    font-family: Lexenda;
    src: url(./fonts/Lexend_Exa/static/LexendExa-Regular.ttf);
}
@font-face {
    font-family: Yrsa-regular;
    src: url(./fonts/Yrsa/Yrsa-Regular.ttf);
}

@font-face {
    font-family: Yrsa-Light;
    src: url(./fonts/Yrsa/Yrsa-LightItalic.ttf);
}

a{
    text-decoration: none;
    color: black;

}

footer{
position: absolute;
left: 0;
background-color: black;
width: 100%;
}

#type1{
  font-family: IBM;
  font-size: 21px;
}
#descr5{
  font-family: IBM-Bold;
}
 
#nav-text{
    font-size: 1.2em;
    font-family: Lexenda-Light;
}

#subhead1{
    font-family: Yrsa-italic;
}

#subhead2{
    font-family: Yrsa-Light;
}

#subhead3{
    font-family: Lexenda;
}
#subhead4{
    font-family: Lexenda-Bold;
}
#descr4{
  font-family: Lexenda;
}

  

.sectionmain{
  width: 70%;
  display:block;
  margin-left: 215px;
}

.card-title{
color: grey;
}

.card:hover{
  border-style: solid;
  border-color: black;
}

.btn:hover{
  background-color: blue;
  color: white;
}


#descr1{
    font-family: Lexenda;

}

#descr2{
    font-family: Lexenda-Lightt;

}

#proj_head{
    font-family: Yrsa-regular;
}

#proj_sub{
    font-family: Lexenda-Light;
}



  #row{
    margin-left: -150px;
  }
  .arrow1{
    margin-left: 260px;
  }



  #PB{
    font-size: 3em;
    font-family: Zapfino;
    text-decoration: underline;
    text-decoration-color: #F6D5E1;
}

#sub{
  margin-left:-200px;;
}
  .box {
    background-color: #FFE0E5;
    border: 2px solid black;
    margin-top: 110px;
    margin-left: 100px;
    width: 87%;
    height: 560px;
    padding: 50px;
  }

  .box1 a:hover{
    color: blue;
    text-decoration: underline;
  }

  .box1{
    background-color: white;
    border-bottom:2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin-left: 100px;
    width: 87%;
    height: 120px;
    padding: 50px;
  }

  .art-title{
    margin-top: 150px;

  }

  .art{
    border: 7px solid white;

  }

  .design{
    text-decoration: underline;
  }

  .explore a:hover{
    color: blue;
    text-decoration: underline;
  }

  .img-circle{
    border: 5px solid #D26FB6;
  }

  .process-icons{
    margin-top: -285px;
  }



  .slider{
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
}
.item{
    position: absolute;
    width: 400px;
    height: 600px;
    text-align: justify;
    border-radius: 10px;
    transition: 0.5s;
    left: calc(45% - 110px);
    top: 0;
}
#next, #prev{
    position: absolute;
    top: 40%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-family: monospace;
    font-weight: bold;
    left: 200px;
}
#next{
    left: unset;
    right: 200px;
}

.section{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #A4ADFF;

}

.animation {
  opacity: 0;
  transform: translateX(-300px);
  transition: all 0.7s ease-out;
  transition-delay: 0.4s;

}

.scroll-animation {
  opacity: 1;
  transform: translateX(0);
}

.icons{
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 100px;
}

.connect{
  background-color: blue;
  color: white;
  flex-direction: column;
  justify-content: flex-center;
  margin-top: 20px;
  padding: 30px;
}

.connect:hover{
  background-color: black;
}



#grass img{
  width: 700px;
  height:307px;
  margin-top: 500px;
}

.main-container .card{
  height: 34rem;
  width: 30rem;

}

.other-container .card{
  height: 34rem;
  width: 30rem;

}

#middle{
  margin-left: 100px;
  margin-right: 100px;
}

#process-text{
  font-family: Lexenda-Lightt;
  font-size: 16px;
  margin-top: -30px;
}

#process-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#half-circle{
  position: relative;
  z-index: -1;
}

#process-icon{
  position: relative;
  z-index: 0;
  margin-top: -70px;
}

#half-circle-bot{
  position: relative;
  z-index: -1;
  margin-top: -70px;
}

#process-icon-top{
  position: absolute;
  z-index: 2;
  margin-top: 120px;
  width: 70px;
  height: 75px;
}

#process-text-bot{
  font-family: Lexenda-Lightt;
  font-size: 16px;
  margin-top: 165px;
}




div#hover-1.col{
  transition: .4s;
}

div#hover-1.col:hover{
  transform: translate(0, -20px);
}

div#hover-2.col{
  transition: .4s;
}

div#hover-2.col:hover{
  transform: translate(0, -20px);
}

div#hover-3.col{
  transition: .4s;
}

div#hover-3.col:hover{
  transform: translate(0, -20px);
}

div#hover-4.col{
  transition: .4s;
}

div#hover-4.col:hover{
  transform: translate(0, -20px);
}


/**__________________________________________________________________________________**/

@media only screen and (max-width: 820px) {
  .summary{
    font-size: 18px;
  }

  .title1{
    margin-top: -100px;
  }
  .nav-link{
    font-size:13px;
  }

  .section{
    height: 50%;
  }

 #grass img{
  width:380px; 
  height: 220px;
  margin-top:505px;
 }



.card{
position: relative;
justify-content: center;
width: 30rem;
height: 34rem;
}

.main-container .card{
  margin-left: 250px;
  padding-bottom: 10px;

}
.other-container .card{
  margin-left: 100px;

}

#projects{
  margin-left: 190px;
}

.header1{
  margin-left: 220px;
}

.header2{
  margin-left: 240px;
  padding-top: 40px;
}

.header3{
  margin-left: 100px;
  padding-top: 30px;
}
.header4{
  margin-left: 100px;

}
}

.picMe{
  width: 400px; 
  height: 470px;
}

@media only screen and (max-width: 820px) {
  .text{
    font-size: 12px;
    width: 300px;
    margin-left: 130px;
  }


  .picMe{
    width: 300px; 
    height: 380px;
    margin-top: 100px;
    margin-left: -30px;
  }

  .box{
    margin-left: 100px;
  }

  .contact{
    font-size: 16px;
  }
}



@media only screen and (max-width: 820px) {

  .summary{
    font-size: 15px;
  }

 .background-pic img{
  margin-top: 30px;
  margin-left: 170px;
 }
 .background-pic1 img{
  margin-top: 130px;
  margin-left: -1000px;
 }

 #next{
  right: 800px;
 }
}